cyipopt==1.1.0
gurobipy==10.0.0
gym==0.21
lxml==4.9.1
mat4py==0.5.0
matplotlib==3.6.2
numpy==1.23.4
object2urdf==0.12
pybullet==3.2.5
pymeshlab==2022.2.post2
PySimpleGUI==4.60.4
PyYAML==6.0
scipy==1.9.3
setuptools==65.5.1
stable_baselines3==1.6.2
torch==1.13.1
transforms3d==0.4.1
urdfpy==0.0.22
